.header {
  height: calc(100vh - 10rem);
  width: 70%;
  margin: 0 auto;

  padding-top: 12rem;

  display: flex;

  &__img-container {
    // background-image: url("/src/img/dog-header.jpg");
    background-color: $color-tertiary-dark;
    background-image: url("/src/img/black-pug.webp");
    background-size: 135%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    margin-left: 7rem;
    margin-right: 12rem;
    // max-height: 80%;
    // max-width: 30%;
    min-height: 45rem;
    min-width: 35rem;
    max-width: 40rem;
    max-height: 50rem;
    border-radius: 170px;
  }

  // &__content {
  //   border: 1px solid black;
  // }

  &__search-container {
    // border: 1px solid pink;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    gap: 3rem;
  }

  &__input {
    height: 5.5rem;
    flex: 0 0 70%;
    border: none;
    box-shadow: 0 0.2rem 1rem rgba(black, 0.2);
    border-radius: 35px;
    box-sizing: border-box;
    padding: 0 5rem 0 3rem;
    font-family: inherit;
    font-size: inherit;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-primary-dark;
      font-size: 1.6rem;
      font-family: "Roboto";
      font-weight: 400;
    }
  }

  &__icon {
    align-self: center;
    height: 3rem;
    width: 3rem;
    fill: $color-primary-dark;
    margin-left: -7rem;
    cursor: pointer;
  }

  &__btn {
    border: none;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    font-family: inherit;
    padding: 0 3rem;
    border-radius: 30px;
    box-shadow: 0 0.2rem 1rem rgba(black, 0.2);
    cursor: pointer;
    background-color: $color-secondary;
  }
}
