.nav-wrapper {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.nav {
  height: 10rem;
  width: 70%;
  margin: 0 auto;

  display: flex;
  gap: 10rem;
  align-items: center;
  border-bottom: 3px solid $color-primary-dark;
  backface-visibility: hidden;

  @media only screen and (max-width: $bp-large) {
    width: 80%;
  }

  @media only screen and (max-width: $bp-n-medium) {
    width: 100%;
    padding: 0rem 2rem;
  }

  &__logo svg {
    width: 4rem;
    height: 4rem;
    fill: $color-primary-dark;
  }

  &__list {
    list-style-type: none;
    display: flex;
    gap: 5rem;
    margin-right: auto;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-primary-dark;
    font-weight: 700;
    letter-spacing: 1.4;
    font-size: 1.6rem;
    transition: all 0.4s;

    &:hover {
      color: $color-primary-light-2;
    }
  }

  &__icons {
    display: flex;
    gap: 2.5rem;
  }

  &__icon-wrapper {
    display: flex;
    position: relative;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-primary-dark;
    cursor: pointer;
  }

  &__cart-number {
    height: 2rem;
    width: 2rem;
    background-color: $color-secondary;
    border-radius: 50%;
    position: absolute;
    top: -40%;
    right: -55%;

    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1;
    display: flex;
  }
}

.sticky {
  position: fixed;
  background-color: $color-bg;
  z-index: 100;
  opacity: 0;
  animation: appear 0.3s forwards;

  & > * {
    border: none;
  }
}
