.products-wrapper {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  transition: all 1s;
}

.slider {
  width: 200%;
  display: flex;
  gap: 2rem;
}

.products-section {
  display: grid;
  min-width: 100%;
  //   background-color: $color-primary-dark;
  //   height: 48rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding-bottom: 5.5rem;
}

.product {
  height: 23rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 1rem 1rem 1rem rgba($color: black, $alpha: 0.05);

  &__showcase {
    // background-color: $color-primary-light-1;
    flex: 70%;
    height: 70%;
    border-radius: 10px 10px 15px 15px;
    z-index: 10;
    position: relative;
    overflow: hidden;
    filter: blur(0.5px);

    &::before {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      background-image: linear-gradient(
        rgba($color-primary-light-2, 0.5),
        rgba($color-primary-light-2, 0.5)
      );
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &__info {
    flex: 30%;
    // background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem 0.5rem 1.5rem;
    gap: 1rem;
  }

  &__i-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    color: #4c528a;
    font-size: 1.35rem;
    line-height: 1;
  }

  &__save {
    width: 1.3rem;
    height: 1.3rem;
    fill: $color-primary-light-1;
  }

  &__i-row-2 {
    display: flex;
    // align-items: center;
    gap: 0.5rem;
    height: auto;
  }

  &__discount {
    color: $color-secondary;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
  }

  &__price {
    color: #c1c1c1;
    font-size: 1.1rem;
    font-weight: 500;
    align-self: flex-start;
    line-height: 1.3;
    text-decoration: line-through;
  }

  &__img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    transform: scale(1.2);
    transition: all 0.3s;
  }

  &__cta {
    position: absolute;
    top: 100%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
    z-index: 100;
    cursor: pointer;
  }

  &__btn {
    min-width: 12rem;
    padding: 1rem 1rem;
    border-radius: 20px;
    border: none;
    font-family: inherit;
    color: $color-primary-dark;
    font-size: 1.4rem;
    font-weight: 500;
    z-index: 100;
    cursor: pointer;
    transition: all 0.2s;

    &:active {
      transform: translateY(0.3rem);
    }
  }

  &:hover &__cta {
    opacity: 1;
    top: 50%;
  }

  &:hover &__img {
    transform: scale(1);
  }

  &:hover &__showcase::before {
    opacity: 1;
  }
}
